* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;

  margin: 0;
}

h1 {
  height: 5vh;

  color: #162955;

  margin: 0;
  margin-top: 5vh;
}

main {
  height: 80vh;
  margin: 5vh 0;
}

h1,
#table tbody tr > td+td {
  text-transform: capitalize;
}

#table tbody tr:nth-child(4) td > span, 
#table tbody tr:nth-child(-n+2) td+td:nth-child(-n+4),
#table tbody tr+tr:nth-child(-n+2) td+td:nth-child(-n+5) {
  text-transform: uppercase;
}

h1,
#table thead td,
#table tbody tr td+td
 {
  text-align: center;
}

#table {
  width: 46vw;
  min-width: 737px;
  /* max-width: 863px; */

  margin: auto;

  border-collapse: collapse;
  border-radius: 9px;

  overflow: hidden;
}

/* Table head */

#table thead td {
  padding: 1.5%;
  
  font-size: 18px;
  font-weight: 600;
  color: white;
}

#table thead td:first-child {
  width: 30%;

  background-color: #7887ab;
}

#table thead td+td {
  width: 17.5%;
}

#table thead td > span {
  display: inline-block;
  
  font-size: 35px;
  /* padding: 3vh 3vh 1vh 3vh; */
  padding: 27% 18% 8% 18%;
}

#table thead td:nth-child(2) {
  background-color: #4f628e;
}

#table thead td:nth-child(3) {
  background-color: #2e4172;
}

#table thead td:nth-child(4) {
  background-color: #162955;
}

#table thead td:last-child {
  background-color: #061539;
}