* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  margin: 0;
}

h1 {
  font-size: 40px;
  height: 5vh;

  color: #162955;

  margin: 0;
  margin-top: 4vh;
}

main {
  margin-top: 4vh;
}

h1,
#table tbody tr > td + td {
  text-transform: capitalize;
}

h1,
#table thead td,
#table tbody tr td + td,
#table tfoot {
  text-align: center;
}

#table {
  margin: auto;

  border-collapse: collapse;
  border-radius: 20px;

  overflow: hidden;
}

#table td {
  padding: 1.25em 2.5em;
}

/* Table head */

#table thead td {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

#table thead td + td {
  text-transform: lowercase;

  padding: 1em 1.8em;
}

#table thead td > span {
  display: inline-block;

  font-size: 40px;
  padding: 33px 0px 6px 0px;
}

#table thead td:first-child {
  background-color: #7887ab;

  padding: 1em 2.6em;
}

#table thead td:nth-child(2) {
  background-color: #4f628e;
}

#table thead td:nth-child(3) {
  background-color: #2e4172;
}

#table thead td:nth-child(4) {
  background-color: #162955;
}

#table thead td:last-child {
  background-color: #061539;
}

/* Table body */

#table tbody {
  letter-spacing: 0.02em;
}

#table tbody tr:nth-child(odd) td:nth-child(odd),
#table tfoot tr td:nth-child(odd) {
  background-color: #dbdbdb;
}

#table tbody tr:nth-child(odd) td:nth-child(even),
#table tbody tr:nth-child(even) td:nth-child(odd),
#table tfoot tr td:nth-child(even) {
  background-color: #e7e7e7;
}

#table tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #f3f3f3;
}

/* Table footer */

#table tfoot tr td {
  padding: 1em 2.0em;
}

#table tfoot tr td > a {
  width: 100%;

  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  font-weight: 600;

  background-color: #dbdbdb;
  border: 1px solid #9e9e9e;

  padding: 8%;
}

#table tfoot tr td > a:hover {
  color: white;

  border: 1px solid #7887ab;
  background-color: #7887ab;
}

#table tfoot tr td > a:active {
  border: 1px solid #9e9e9e;
  background-color: #9e9e9e;
}